/* You can add global styles to this file, and also import other style files */
/* styles.scss */
.cdk-overlay-backdrop.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, 0.7) !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cdk-overlay-container {
  position: absolute !important;
  top: 0;
  left: 0;
}

.custom-overlay-panel {
  position: fixed !important;
  z-index: 1; /* Higher z-index to ensure it stays on top of the backdrop */
  background-color: white; /* Ensure the panel has a background */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for the panel */
  animation: slideIn 0.3s ease-in-out forwards;
}

body {
  margin: 0px !important;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: #9B7EBD;
}

/* Keyframe for sliding animation */
@keyframes slideIn {
  from {
    left: -300px;  /* Start off-screen */
  }
  to {
    left: 0;  /* Slide to the right edge */
  }
}
